<!DOCTYPE html>
<html>
<head>
  <title>Fin del juego</title>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="styles/end_game2.css"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="animate-charcter"> Fin del juego!</h1>
        <p>Gracias por jugar Argentina's Dream Team!</p>
        <p>Esperamos que hayas disfrutado el proceso de aprendizaje</p>
        <div class="btn-container">
          <a href="/menu" style="text-decoration:none" class="btn"><button>Volver al Menú</button></a>
          <a href="/progress" style="text-decoration:none" class="btn"><button>Ver progreso</button></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
