<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="/styles/end_game.css"/>
  <title>Fin del Juego</title>
</head>
<body>
  <div class="container">
    <h1>¡Fin del Juego!</h1>
    <p>¡Has respondido todas las preguntas!</p>
    <p>¡Felicitaciones por completar el juego!</p>
    <p>Gracias por participar. ¡Viva Argentina!</p>
  </div>
</body>
</html>
