<!DOCTYPE html>
<head>
    <link rel="icon" href="/image/icon.png"/>
    <title>Error en la Compra</title>
    <link rel="stylesheet" href= "/styles/fail.css">
</head>
<body>
    <div class="container">
        <h1>Error en la Compra</h1>
        <p>No se pudo comprar la carta.</p>
        <p>
            <a href="/store" class="button">Volver a la Tienda</a>
            <a href="/menu" class="button">Volver al Menú</a>
        </p>
    </div>
</body>
</html>
