<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="styles/index.css"/>
  <title>ADT</title>
  <style>
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 50px;
      justify-content: center;
      height: 70vh;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    h1 {
      text-align: center;
    }
    
    p {
      text-align: center;
    }
    
    input, button {
      width: 100%;
    }
    
    button {
      margin-top: 10px;
    }
    
    a {
      display: block;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Bienvenido a Argentina's <br> Dream TEAM!</h1>
  <form action="/users" method="POST">
    <img src="image/logo.png" alt="Logo" width="800">
    <p>Inserte su nombre y clave para ingresar</p>
    <input type="text" name="name" placeholder="Nombre">
    <input type="password" name="pass" placeholder="Contraseña">
    <button><a href="/menu">Ingresar</a></button>
    <p><a href="/register">Registrate</a></p>
  </form>
</body>
</html>
