<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Te quedaste sin vidas - Tema de fútbol</title>
</head>
<body>
    <link rel="stylesheet" href="styles/lifes.css"/>
    <div class="mensaje">
        <h1>Te quedaste sin vidas <img src="/image/coraroto.png" alt="Icono personalizado"> </h1>
        <p>¡El partido ha terminado!</p>
        <p>¡Mejor suerte la próxima vez!</p>
        <a href="/menu" class="boton-menu">Volver al menú</a>
    </div>
</body>
</html>
