<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/image/icon.png"/>
    <link rel="stylesheet" href="styles/menu.css"/>
  <title>Menú</title>
</head>
<body>
  <div class="container">
    <ul>
      <li class="button"><a href="/questions">Jugar</a></li>
      <li class="button"><a href="/progress">Progreso</a></li>
      <li class="button"><a href="/reports">Reporte</a></li>
      <li class="button"><a href="/suggestion">Sugerencia</a></li>
      <li class="button">
        <form action="/logout" method="post">
          <input type="submit" value="Cerrar sesión">
        </form>
      </li>
    </ul>
  </div>
    <div class="barra-Menu"> 
     <p><span class="label">Vidas:</span> <span class="data"><%= @user.lifes%></span></p>
      <p><span class="label">Monedas:</span> <span class="data"><%= @progress.correct_answers %></span></p>
    </div>
</body>
</html>
