<!DOCTYPE html>
<html>
<head>
  <title>Menú</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    h1 {
      text-align: center;
      color: #000;
      font-size: 32px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      margin-bottom: 10px;
    }
    .button {
      background-color: #000;
      border-radius: 10px;
      overflow: hidden;
    }
    .button a {
      display: block;
      padding: 10px;
      text-decoration: none;
      background-color: #000000;
      color: #fff;
      text-align: center;
      transition: background-color 0.3s ease;
    }
    .button a:hover {
      background-color: #333;
    }
    .logo {
      display: block;
      margin: 0 auto;
      max-width: 800px;
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="MIAPP/views/logo.png" alt="Logo" class="logo">
    <ul>
      <li class="button"><a href="#">Jugar</a></li>
      <li class="button"><a href="#">Progreso</a></li>
      <li class="button"><a href="#">Reporte</a></li>
      <li class="button"><a href="#">Sugerencia</a></li>
    </ul>
  </div>
</body>
</html>