<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/image/icon.png"/>
    <link rel="stylesheet" href="styles/menu2.css"/>
    <title>Menú</title>
</head>
<body>
    <div class="container">
        <ul>
            <li class="button"><a href="/questions">Jugar</a></li>
            <li class="button"><a href="/store">Tienda</a></li>
            <li class="button"><a href="/cards">Mis Cartas</a></li>
            <li class="button"><a href="/progress">Progreso</a></li>
            <li class="button"><a href="/reports">Reporte</a></li>
            <li class="button"><a href="/suggestion">Sugerencia</a></li>
            <li class="button"><a href="/leaderboard">LeaderBoard</a></li>
            <li class="button">
                <form action="/logout" method="post">
                    <input type="submit" value="Cerrar sesión">
                </form>
            </li>
        </ul>
    </div>
    <div class="player-stats">
        <div class="datos-Usuario">
            <p><span class="label">Usuario:</span> <span class="data"><%= @user.name %></span></p>
        </div>
        <div class="Corazones">
            <img src="/image/corazon.png" alt="Vidas" class="stat-icon">
            <p><span class="label">Vidas:</span> <span class="data"><%= @user.lifes %></span></p>
        </div>
        <div class="Monedas">
            <img src="/image/moneda.png" alt="Monedas" class="stat-icon">
            <p><span class="label">Monedas:</span> <span class="data"><%= @user.coins %></span></p>
        </div>
    </div>
</body>
</html>
