<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="styles/noRegistrado.css"/>
  <title>Usuario no registrado</title>
  <link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
  <div class="container">
    <h1>Usuario no registrado</h1>
    <p>Lo sentimos, pero el usuario que estás intentando acceder no está registrado en nuestro sistema.</p>
    <p>Por favor, regístrate para poder acceder a todos nuestros servicios.</p>
    <p>
      <div class="button"><a href="/register">Registrarse</a></div>
    </p>
  </div>
</body>
</html>
