<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/option.css"/>
</head>
<body>
  <div class="container">
    <div class="question">
      Pregunta: ¿Cuál es tu opción favorita?
    </div>

    <ul class="options">
      <li class="option">
        <input type="radio" name="option" id="option1" class="custom-radio">
        <label for="option1">Opción 1</label>
      </li>

      <li class="option">
        <input type="radio" name="option" id="option2" class="custom-radio">
        <label for="option2">Opción 2</label>
      </li>

      <li class="option">
        <input type="radio" name="option" id="option3" class="custom-radio">
        <label for="option3">Opción 3</label>
      </li>

      <li class="option">
        <input type="radio" name="option" id="option4" class="custom-radio">
        <label for="option4">Opción 4</label>
      </li>
    </ul>
    <div class="btn-container">
      <a href="#" class="btn">Enviar respuesta</a>
    </div>
  </div>
</body>
</html>
