<!DOCTYPE html>
<html>
<head>
  <title> Argentina Dream TEAM </title>
  <link rel="stylesheet" href="/styles/option.css" />
</head>
<body>
  <h1>Argentina Dream TEAM</h1>
  <h2>Pregunta</h2>
  <p> What is the name of the world's most famous soccer stadium?</p>
  <ul>
    <li>Wembley Stadium</li>
    <li>Camp Nou</li>
    <li>Santiago Bernabéu Stadium</li>
    <li>Old Trafford</li>
  </ul>

  <button type="submit">Submit Answers</button>
</body>
</html>

