<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="styles/question.css"/>
  <title>Menú de Preguntas</title>
</head>
<body>
  <h1>Pregunta</h1>
  <p>¿Cuál es la capital de Francia?</p>
  
  <ul>
    <li><input type="radio" name="respuesta" value="paris">París</li>
    <li><input type="radio" name="respuesta" value="londres">Londres</li>
    <li><input type="radio" name="respuesta" value="roma">Roma</li>
    <li><input type="radio" name="respuesta" value="madrid">Madrid</li>
  </ul>
  
  <button type="submit">Enviar Respuesta</button>
</body>
</html>
