<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/question.css"/>
</head>
<body>
  <div class="container">
  <% @questions.each do |question| %>
    <h2 class="question"><%= question.question %></h2>
    <ul class="options">
      <% question.options.each do |option| %>
        <li class="option">
          <%= option.content %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
  <div class="btn-container">
    <a href="#" class="btn">Enviar respuesta</a>
  </div>
</div>
</body>
</html>
