<!DOCTYPE html>
 <html>
   <head>
     <link rel="icon" href="/image/icon.png"/>
     <link rel="stylesheet" href="styles/register.css"/>
     <title> Registracion </title>
   </head>
   <body>
     <h1>Crear cuenta </h1>
     <form action="/register" method="POST">
      <p>Inserte un usuario y clave</p>
       <input type="text" name="name" placeholder="Usuario">
       <input type="password" name="pass" placeholder="Contraseña">
       <button>Registrar</button>
     </form>
   </body>
 </html>
