</html><!DOCTYPE html>
<head>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="styles/reports2.css"/>
    <title>Reporte</title>
</head> 
  <div class="container">
      <form action="/reports" method="POST">
        <h1> ¿Cual es su reporte maestro? <h1></h1>
        <input type="text" required name="description" placeholder="Reporte">
        <input type="date" name="date" placeholder="fecha">
        <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
      <div class="btn-container">
        <button>Enviar reporte</button>
      </div>

     </form>
  </div>
  <div class="btn-back">
       <button> <a href="/menu"> Volver </button>
  </div>
  
</html>