<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
        }
      </style>
</head>
<body>
    <h1> ¿Cual es su reporte maestro? <h1>
        <input type="text" name="reporte" placeholder="reporte">
        <button>Send</button>
</body>
</html>