</html><!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/reports.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
        }
      </style>
</head> 
  <body>
      <form action="/reports" method="POST">
        <h1> ¿Cual es su reporte maestro? <h1></h1>
        <input type="text" name="descripcion" placeholder="reporte">
        <input type="integer" name="ide" placeholder="identificador">
        <input type="date" name="fecha" placeholder="fecha">
        <button>Registrar reporte</button>
     </form>
  </body>
</html>