<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/image/icon.png"/>
    <link rel="stylesheet" href="/styles/suggestions2.css" />
    <title>Sugerencias</title>
</head>
<body>
    <div class="container">
        <form action="/suggestion" method="POST">
            <h1> Sugerencias </h1>
            <p> Gracias por contribuir con tu sugerencia!</p>
            <input type="text" required name="description" placeholder="Sugerencia">
            <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
            <div class="btn-container">
                <button>Enviar</button>
            </div>
        </form>
    </div>
    <div class="btn-back">
        <button><a href="/menu">Volver</a></button>
    </div>
</body>
</html>
