<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles/user.css"/>
<title>Registration Successful</title>
</head>
<body>
<h1>Registracion exitosa!</h1>
<p>¡Felicitaciones, te has registrado correctamente!</p>
    <img src="image/mesi.jpg" width="500"> 
<p>Ahora puede iniciar sesión en su cuenta <a href="/"> aqui </a></p>
</body>
</html>