<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/image/icon.png"/>
  <link rel="stylesheet" href="styles/user.css"/>
  <title>Registration exitosa</title>
</head>
<body>
<div class="background"></div>
<div class="container">
  <h1>Registración exitosa!</h1>
  <p>¡Felicitaciones, te has registrado correctamente!</p>
  <p>Ahora puede iniciar sesión en su cuenta <a href="/">aquí</a></p>
</div>
</body>
</html>
