 body {
    font-family: Arial, sans-serif;
    background-image: url('/image/Album.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    color: #333;
    margin-bottom: 100px;

  }
  
  .container {
    margin-bottom: 500px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  strong {
    font-weight: bold;
  }
  
  form {
    margin: 0;
  }
  
  .use-card-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .use-card-button:hover {
    background-color: #ffb620;
    border-radius: 10px;
  }
  
  .menu-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .menu-button:hover {
    background-color: #ffb620;
    border-radius: 10px;
  }

  .menu-button {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
  }

  h1 {
    font-family: 'FutbolFont', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
  }
  
  @font-face {
    font-family: 'FutbolFont';
    src: url('/image/Sports World-Regular.ttf') format('truetype');   
  }
  