body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 60;
  font-family: Arial, sans-serif;
  background-image: url("/image/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'FutbolFont', Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-left: 15px;
}

@font-face {
  font-family: 'FutbolFont';
  src: url('/image/Sports World-Regular.ttf') format('truetype');   
}


img {
  max-width: 100%;
  margin: 0 auto;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-bottom: 50px;
  background-color: #008cff;
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}


h1 {
    font-size: 20px;
}

