body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, sans-serif; /* Fuente del texto */
  font-size: 28px; /* Tamaño del texto */
  font-weight: bold; /* Grosor del texto */
  color: #333; /* Color del texto */
  text-align: center; /* Alineación del texto */
  text-transform: uppercase; /* Convertir el texto en mayúsculas */
  margin-bottom: 20px; /* Margen inferior del título */
}

img {
  max-width: 100%;
  margin: 0 auto;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #008cff;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}