html {
  height: 100%; 
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::after {
  content: "";
  background-image: url('/image/lideres.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

  
h1 {
  font-family: 'FutbolFont', Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-left: 70px;
  font-weight: bold;
  text-transform: uppercase;
}


@font-face {
  font-family: 'FutbolFont';
  src: url('/image/Sports World-Regular.ttf') format('truetype');   
}
  
  table {
    width: 1000px;
    margin-bottom: 50px;
    margin-left: 70px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #000000;
    color: #fff;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
a {
    display: block;
    text-align: center;
    margin-top: 220px;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    transition: background-color 0.5s ease;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #ffb620;
  }


.button-below-table {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 12px 14px;
    transition: background-color 0.5s ease;
    font-size: 18px; 
    margin-left: 70px;
    margin-bottom: 40px;
    
  }
  
  .button-below-table:hover {
    background-color: #ffb620;
  }
  
  