body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("/image/menuFront.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente con opacidad */
  padding: 20px;
  width: 200px;
  height: 300px; /* Establecemos el mismo valor de ancho y alto para hacerlo cuadrado */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centramos el contenido del contenedor */
}

h1 {
  text-align: center;
  color: #000;
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.button {
  overflow: hidden;
}

.button a {
  display: block;
  padding: 10px;
  margin-bottom: 20px; /* Aumentamos el margen inferior para mover los botones hacia abajo */
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
  border-radius: 20px; /* Agregamos un valor de border-radius para hacer los botones redondeados */
}

.button input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #000000;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 20px; /* Agregamos un valor de border-radius para hacer los botones redondeados */
}

.button a:hover {
  background-color: #ffb620;
}

.button input[type="submit"]:hover {
  background-color: #ffb620;
}


.logo {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
