body {
    font-family: sans-serif;
    background-color: #44e414;
  }

  h1 {
    font-size: 2em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: .5em;
  }

  button {
    background-color: #000000;
    color: #ffffff;
    font-size: 1em;
    padding: .5em 1em;
    border: none;
    cursor: pointer;
  }
