/* styles.css */
body {
  background-image: url("/image/cancha.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title-container {
  text-align: center; 
  background-color: #fff; 
  padding: 1px; 
  border-radius: 2px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 20px auto;
  max-width: 400px; 
}

.page-title {
  color: #000; 
}


.player-card {
  background-image: url("/image/cardFond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.player-name {
  color: #049ec4;
  margin-bottom: 40px;
}

.player-image {
  max-width: 20%;
  height: 20%;
}

.label {
  font-weight: bold;
}

.data {
  color: #049ec4;
}

.menu-button {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #ffb620;
}

.player-info {
  text-align: center;

}

#player-card-image-container {
  text-align: center; 
  margin-bottom: 25px; 
}

#player-card-image {
  max-width: 100%;
  height: auto;
  display: block; 
}



