html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("ruta_de_la_imagen");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 300px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #008cff;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069c0;
  }
  

  input::placeholder {
    color: #000000;
  }
  
  