html {
  height: 100%; 
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::after {
  content: "";
  background-image: url('/image/lideres.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content {
  padding: 20px; 
}
  
  .container {
    position: center;
    width: 400px;
    height: 500px;
    margin-left: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-family: 'FutbolFont', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 150px;
  }
  
  @font-face {
    font-family: 'FutbolFont';
    src: url('/image/Sports World-Regular.ttf') format('truetype');   
  }
  
  input {
    margin-bottom: 200px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn-container {
    text-align: right;
    margin-bottom: 100px;
    position: absolute;
    bottom: 10px;
  }
  
  .btn-container button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-container button:first-child {
    margin-right: 0px;
  }
  
  .btn-container button:hover {
    background-color: #ffb620;
  }
  
  

  input::placeholder {
    color: #000000;
  }
  

.btn-back {
  position: fixed;
  top: 10px;
  left: 10px;
}

.btn-back {
  position: fixed;
  top: 10px;
  left: 10px;
}

.btn-back a {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-back a:hover {
  background-color: #ffb620;
  cursor: pointer;
}
